table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  /* font-size: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}
th, td {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
}
th {
    background-color: #f4f4f4;
    font-weight: bold;
    /* color: white;
    text-align: left; */
}
tr:hover {
    background-color: #e0f7fa;
    cursor: pointer;
}